body {
    font-family: 'Poppins', Arial, sans-serif;
    color: #333333;
    padding-bottom: 40px;
    background-color: #efefef;
}

.container {
    width: 960px;
    max-width: 90%;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    margin-top: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* Start Header */

header {
    text-align: center;
}


main .card {
    width: 200px;
    height: 200px;
    background: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: auto;
    border-radius: 15px;
    margin-bottom: 20px;
}

main .card a {
    text-decoration: none;
    color: #333333;
}

main .card a .card-content {
    height: 100px;
}

main .card a .card-content .card-image {
    width: 100%;
    height: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main .card a .card-content .card-image.my-kitchen {
    background-image: url(Images/my_kitchen.png);
}

main .card a .card-content .card-image.cornish-pasty {
    background-image: url(Images/cornishpasty.jpg);
}

main .card a .card-content .card-image.angels {
    background-image: url(Images/angels.jpg);
}

main .card a .card-content .card-image.bacanora {
    background-image: url(Images/Bacanora.jpg);
}

main .card a .card-content .card-image.pemberton {
    background-image: url(Images/Pemberton.jpg);
}


main .card .card-content .card-body {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    height: 100%;
}

main .card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.39), 0 6px 6px rgba(0, 0, 0, 0.33);
}

main .card:last-of-type {
    margin-bottom: 40px !important;
}

main .form-body {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 15px;
}

main .form-body button {
    display: flex;
    margin: auto;
    width: 90%;
    text-align: center;
    justify-content: center;
    background-color: #4d4d4d;
    color: #ffffff;
    border-radius: 5px;
    min-height: 30px;
    align-items: center;
    font-weight: bold;
}

main .form-body input,
main .form-body textarea {
    width: 100%;
    padding: 5px;
}